body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.first-name{
    color:  orange;
}
.head-text{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.head-text img{
    padding: 5%;
    width: 70%;

}
